*.pyc
*~
.*.swp
\#*#
.DS_Store
._*
.Python
.idea
*.egg-info/
base.db
local_settings.py
MANIFEST
/build
/dist
/lib
/static
/uploads
/local
/share
/venv
/htdocs
/log
*.log
/docs/_build
.coverage
htmlcov/
