include LICENSE
include MANIFEST.in
include README.rst
include requirements.txt
include setuplib.py
recursive-include zipfelchappe/static *
recursive-include zipfelchappe/locale *
recursive-include zipfelchappe/templates *
