{% load i18n %}
<ul>
{% for pledge in page_obj %}
    <li>
        <strong>{{ pledge.backer_name|default:'Anonymous' }}</strong>
        <small>{{ pledge.created|date:"SHORT_DATE_FORMAT" }}</small>
    </li>
{% empty %}
    <li>{% trans 'Nobody backed this project yet. Be the first one!' %}</li>
{% endfor %}
</ul>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?backers-page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?backers-page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
