{% load i18n feincms_thumbnail applicationcontent_tags tickmark %}

<div class="sidebox">

    {% app_reverse "zipfelchappe_project_detail" "zipfelchappe.urls" project.slug as project_url %}

    <h3>{{ project.title }}</h3>

    {% if project.teaser_image %}
    <img src="{{ project.teaser_image.path|cropscale:'150x150' }}" />
    {% endif %}

    <br/><br/>

    <div class="status">
        {% if project.author %}
        <label class="author">{% trans "Author" %}:</label>
        <span class="author">{{ project.author }}</span><br/>
        {% endif %}

        <label class="goal">{% trans "Goal" %}:</label>
        <span class="goal">{{ project.goal_display|tickmark }}</span><br/>

        <label class="remaining">{% trans "Remaining" %}:</label>
        <span class="remaining">{{ project.end|timeuntil }}</span><br/>

        <label class="achieved">{% trans "Achieved" %}:</label>
        <div class="progress
            {% if project.is_financed %}
                progress-danger
            {% else %}
                progress-info
            {% endif %}">
            <div class="bar" style="width: {{ project.percent }}%"></div>
            <div class="info">
                {{ project.achieved_display }}
            </div>
        </div>
    </div>
</div>
