{% load i18n applicationcontent_tags tickmark %}

<div class="sidebox">
    <div class="status">
        <h3>{% trans "Status" %}</h3>

        {% if project.author %}
        <label class="author">{% trans "Author" %}:</label>
        <span class="author">{{ project.author }}</span><br/>
        {% endif %}

        <label class="goal">{% trans "Goal" %}:</label>
        <span class="goal">{{ project.goal_display|tickmark }}</span><br/>

        <label class="remaining">{% trans "Remaining" %}:</label>
        <span class="remaining">{{ project.end|timeuntil }}</span><br/>

        <label class="achieved">{% trans "Achieved" %}:</label>
        <div class="progress progress-{{ project.bar_class }}">
            <div class="bar" style="width: {{ project.percent }}%"></div>
            <div class="info">
                {{ project.achieved_display }}
            </div>
        </div>
    </div>

    {% app_reverse "zipfelchappe_project_back_form" "zipfelchappe.urls" project.slug as back_url %}

    {% if project.is_active %}
    <div class="the_button">
        <a href="{{ back_url }}">
            <button id="back_button" class="btn btn-large btn-success">
                {% trans "Back this project" %}
            </button>
        </a>
    </div>
    {% endif %}

    <div class="rewards">
        <h3>{% trans "Rewards" %}</h3>

        {% for reward in project.rewards.all %}
            <div class="reward">
                <strong>
                    {% trans "From" %}
                    {{ reward.minimum }}
                    {{ project.currency }}
                    {% trans "(or more)" %}
                </strong>
                <p>{{ reward.translated.description }}</p>
            </div>
        {% endfor %}
    </div>
</div>
