

fieldset.feincms_inline {
    border: none;
}

fieldset.feincms_inline h2 {
    display: none;
}

.panel.feincms_inline_formset {
    margin: -20px -10px -20px -10px;
    padding-bottom: 0px;
}

.feincms_inline_formset .inline-group {
    border: none;
}

.feincms_inline_formset h2 {
    display: none;
}
