{% load staticfiles %}
<!-- Zipfelchappe init template -->
<link href="{% static "zipfelchappe/css/project_admin.css" %}" type="text/css" media="all" rel="stylesheet" />
<link href="{% static "zipfelchappe/css/feincms_extended_inlines.css" %}" type="text/css" media="all" rel="stylesheet" />
<link href="{% static "zipfelchappe/css/admin_hide_original.css" %}" type="text/css" media="all" rel="stylesheet" />

<script type="text/javascript" src="{% static "zipfelchappe/js/admin_order.js" %}"></script>
<script type="text/javascript" src="{% static "zipfelchappe/js/reward_check_deletable.js" %}"></script>
<script type="text/javascript" src="{% static "zipfelchappe/js/email_test.js" %}"></script>
