
.left { float: left; }
.right { float: right; }

div.section > p {
    padding-top: 10px;
}

.image.left {
    margin: 0 10px 10px 28px;
}

.image.right {
    margin: 0 28px 10px 10px;
}

.section .project.teaser {
    margin: 10px 28px;
}

#maincontent {
    padding-top: 20px;
}

.projectsection {
    float: left;
    width: 467px;
    min-height: 400px;
    margin: 0 15px 15px 0;
    padding: 0;
}

.zipfelcontent.form {
    padding: 20px;
    background: white;
}

.zipfelcontent .nav-tabs > li > a,
.zipfelcontent .nav-pills > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
  color: #757371;
}

.zipfelcontent .nav-tabs {
  border-bottom: 1px solid #ddd;
  margin: 10px 0 0 0;
  padding: 0 20px;
}

.zipfelcontent .nav-tabs > li {
  margin-bottom: -1px;
  padding: 0;
}

.zipfelcontent .nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 18px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

.zipfelcontent .nav-tabs > li > a:hover {
  border: 1px solid #ddd;
  background-color: #f1f1f1;
}

.zipfelcontent .nav-tabs > .active > a,
.zipfelcontent .nav-tabs > .active > a:hover {
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.zipfelcontent .tab-content,
.zipfelcontent .content {
    padding: 20px;
    background: white;
}

.zipfelcontent input[type="text"],
.zipfelcontent input[type="password"],
.zipfelcontent textarea {
    width: 270px;
    padding: 4px;
}

.zipfelcontent .input-prepend.input-append input {
    width: 180px;
    margin: 0 -3px;
}

.zipfelcontent h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.zipfelcontent .form-horizontal .control-label {
    font-size: 13px;
    width: 100px;
}

.zipfelcontent label[for^=id_reward] {
    margin: 5px 0;
}

.zipfelcontent .projectsection p {
    margin: auto;
}

.zipfelcontent .form-horizontal .controls {
    margin-left: 120px;
}

.projectsidebar {
    float: right;
    width: 226px;
    margin-right: 100px;
    background: white;
}

.sidebox {
    padding: 10px;
}

.sidebox h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.sidebox .status label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.sidebox .status span {
    display: block;
    margin-bottom: 10px;
}

.the_button {
    margin: 40px 0;
}

button.btn {
    margin: auto;
    height: auto;
    font-size: 14px;
}

label {
    font-weight: inherit;
}

.the_button button {
    display: block;
    width: 90%;
    font-size: 16px;
}

.the_button a:hover {
    text-decoration: none !important;
}

.sidebox .reward {
    margin-bottom: 10px;
}

.project.teaser {
    display: block;
    padding: 5px;
    background-color: #fefefe;
    font-size: 13px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    margin-bottom: 20px;
    -webkit-transition: color, background-color 0.3s ease-out;
    -moz-transition: color, background-color 0.3s ease-out;
    transition: color, background-color 0.3s e
}

.project.teaser:hover {
    background-color: #F1F1F1;
}

.project.teaser h2 {
    color: #757371;
}

.project.teaser .inner{
    padding: 8px 28px;
}

.project.teaser img {
    float: left;
    margin-right: 20px;
}

.project.teaser label {
    display: inline;
}

.project.teaser .progress {
    margin: 8px 0;
}

.project_link {
    color: #000;
}

#debug {
    font-size: 0.6em;
}

.radios input[type="radio"] {
    vertical-align: top;
}
.radio_text {
    display: inline-block;
}

.radios label {
    width: auto;
}

label[for^="id_reward"].unavailable {
    opacity: 0.5;
}

label[for^="id_reward"].available:hover   {
    background-color: #ddd;
}

/* some bootstrap extensions and overrides */

.progress .info {
    position: relative;
    top: -18px;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #333;
}

.progress.progress-danger .info {
    color: #eee;
}

.control-group.required label {
    font-weight: bold;
}

.form-actions {
    border: none;
    background: none;
}
