{% extends "base.html" %}
{% load feincms_tags feincms_page_tags applicationcontent_tags %}

{% block meta-keywords %}{{ block.super }} {{ feincms_page.meta_keywords }}{% endblock %}
{% block meta-description %}{{ block.super }} {{ feincms_page.meta_description }}{% endblock %}
{% block meta-title %}{{ block.super }} {{ feincms_page.content_title }}{% endblock %}

{% block content %}
{% feincms_render_region feincms_page "sidebar" request %}
{% feincms_render_region feincms_page "main" request %}
{% endblock %}
