{% load i18n feincms_tags feincms_page_tags %}

<!doctype html>
<html class="no-js" lang="{{ LANGUAGE_CODE }}">
<head lang="{{ LANGUAGE_CODE }}">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>{% block page_title %}{% trans "Zipfelchappe example" %}{% endblock %}</title>

    <meta name="description" content="{% block meta_description %}{% endblock %}" />
    <meta name="author" content="{% block meta_author %}{% endblock %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
    {% block css %}{% endblock %}

    <script src="{{ STATIC_URL }}js/libs/modernizr.min.js"></script>
</head>

<body>
{% block body %}
    <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
    <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->


    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
            {% block navbar %}
                <a class="brand">
                    {% block brand %}{% trans "Zipfelchappe" %}{% endblock %}
                </a>
                <div class="nav-collapse">
                    <ul class="nav">
                      {% feincms_navigation of feincms_page as toplevel level=1,depth=1 %}
                      {% for p in toplevel %}
                        <li {% if p == feincms_page %}class="active"{% endif %}>
                            <a href="{{ p.get_absolute_url }}">{{ p.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>

                    <div class="pull-right">
                      <div class="btn-group">
                      {% if request.user.is_authenticated %}
                        <a id="userinfo" class="btn btn-inverse" href="{{ request.user.get_absolute_url }}">
                          <i class="icon-user icon-white"></i>
                          {{ request.user.get_full_name|default:request.user }}
                        </a>
                        <a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="{% url logout %}"><i class="icon-off"></i> Logout</a></li>
                        </ul>
                      {% else %}
                        <a id="userinfo" class="btn btn-inverse" href="{% url login %}">
                          <i class="icon-user icon-white"></i>
                          {% trans "Login" %}
                        </a>
                      {% endif %}
                      </div>
                    </div>
                </div>
            {% endblock %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% block container %}
            <div class="span9 content">
                {% block messages %}
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            <button class="close" data-dismiss="alert">×</button>
                            {{ message }}
                        </div>
                        {% endfor %}
                    {% endif %}
                {% endblock %}

                {% block maincontent %}
                    {% if feincms_page %}
                        {% feincms_render_region feincms_page "main" request %}
                    {% endif %}
                {% endblock %}
            </div>
            <div class="span3">
                <div class="well sidebar">
                      {% block sidebar %}

                      <ul class="nav nav-list">
                        <li class="nav-header">{% trans "Topic" %}</li>
                          {% feincms_navigation of feincms_page as toplevel level=2,depth=1 %}
                          {% for p in toplevel %}
                            <li {% if p == feincms_page %}class="active"{% endif %}>
                                <a href="{{ p.get_absolute_url }}">{{ p.title }}</a>
                            </li>
                          {% endfor %}
                      </ul>

                      {% endblock %}
                </div>
            </div>
            {% endblock %}
        </div>
    </div>
    <div class="navbar-fixed-bottom">
        {% block footer %}
            {% trans "This is a demo page only!" %}
        {% endblock %}
    </div>


    {% block javascript_library %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.7.2.min.js"><\/script>')</script>
    <script src="{{ STATIC_URL }}js/libs/modernizr.min.js"></script>
    <script src="{{ STATIC_URL }}js/libs/bootstrap.js"></script>


    {% endblock %}
    {% block javascript %}{% endblock %}
    <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
       mathiasbynens.be/notes/async-analytics-snippet -->
    <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
{% endblock %}
</body>
</html>
