{% extends "zipfelchappe/base.html" %}
{% load i18n bootstrap %}

{% block maincontent %}
<div class="backer-register-form">
    <form method="post" class="form-horizontal">
        <h3>{% trans "Register" %}</h3>
        <fieldset>
            {% csrf_token %}

            {{ register_user_form|bootstrap }}
            {{ register_backer_form|bootstrap }}

            <div class="form-actions">
                <button type="submit" class="btn btn-large btn-primary">
                    {% trans "Register" %}
                </button>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}

{% block sidebar %}
    {% include "zipfelchappe/includes/project_sidebar.html" %}
{% endblock %}

{% block javascript %}
    {{ form.media.js }}
{% endblock %}
