{% extends "zipfelchappe/base.html" %}
{% load i18n bootstrap applicationcontent_tags %}

{% block maincontent %}
<div class="backer-authenticate-form">
    {% app_reverse "zipfelchappe_backer_login" "zipfelchappe.urls" as login_url %}

    <form method="post" action="{{ login_url }}" class="form-horizontal">
        <h3>{% trans "Login" %}</h3>
        <fieldset>
            {% csrf_token %}
            {{ login_form|bootstrap }}

            <div class="form-actions">
                <button type="submit" class="btn btn-large btn-primary">
                    {% trans "Login" %}
                </button>
            </div>
        </fieldset>
    </form>

    {% app_reverse "zipfelchappe_backer_register" "zipfelchappe.urls" as register_url %}

    <form method="post" action="{{ register_url }}" class="form-horizontal">
        <h3>{% trans "Register" %}</h3>
        <fieldset>
            {% csrf_token %}

            {{ register_form|bootstrap }}

            <div class="form-actions">
                <button type="submit" class="btn btn-large btn-info">
                    {% trans "Register" %}
                </button>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}

{% block sidebar %}
    {% include "zipfelchappe/includes/project_sidebar.html" %}
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}/zipfelchappe/js/loading_wall.js"></script>
{% endblock %}
