{% extends "zipfelchappe/base.html" %}
{% load i18n bootstrap %}

{% block content %}
    <h2>{% trans "Register" %}</h2>
    <form method="post" class="form-horizontal">
        {% csrf_token %}

        {{ register_user_form|bootstrap }}
        {{ register_backer_form|bootstrap }}

        <div class="form-actions">
            <button type="submit" class="btn btn-large btn-primary">
                {% trans "Register" %}
            </button>
        </div>
    </form>
{% endblock %}

{% block sidebar %}
    {% include "zipfelchappe/includes/back_sidebar.html" %}
{% endblock %}
