{% extends "zipfelchappe/base.html" %}
{% load i18n bootstrap %}

{% block maincontent %}
<div class="zipfelcontent form">
    <h2>{% trans "Create your backer profile" %}</h2>

    <form method="post" class="form-horizontal">
        {% csrf_token %}

        {{ form|bootstrap }}

        <div class="form-actions">
            <button type="submit" class="btn btn-large btn-success">
                {% trans "Save profile" %}
            </button>
        </div>
    </form>
</div>
{% endblock %}

{% block sidebar %}
    {% include "zipfelchappe/includes/project_sidebar.html" %}
{% endblock %}

{% block javascript %}
    {{ form.media.js }}
{% endblock %}
