{% extends "zipfelchappe/base.html" %}
{% load i18n bootstrap %}

{% block content %}

    {% url zipfelchappe_backer_login as login_url %}

    <h2>{% trans "Login" %}</h2>
    <form method="post" action="{{ login_url }}" class="form-horizontal">
        {% csrf_token %}

        {{ login_form|bootstrap }}

        <div class="form-actions">
            <button type="submit" class="btn btn-large btn-primary">
                {% trans "Login" %}
            </button>
        </div>
    </form>

    {% url zipfelchappe_backer_register as register_url %}

    <h2>{% trans "Register" %}</h2>
    <form method="post" action="{{ register_url }}" class="form-horizontal">
        {% csrf_token %}

        {{ register_user_form|bootstrap }}
        {{ register_backer_form|bootstrap }}

        <div class="form-actions">
            <button type="submit" class="btn btn-large btn-info">
                {% trans "Register" %}
            </button>
        </div>
    </form>

    {% url zipfelchappe_backer_userless as userless_url %}

    {% if userless_form %}
        <h2>{% trans "Pledge userless" %}</h2>
        <form method="post" action="{{ userless_url }}" class="form-horizontal">
            {% csrf_token %}

            {{ userless_form|bootstrap }}

            <div class="form-actions">
                <button type="submit" class="btn btn-large btn-inverse">
                    {% trans "Pledge userless" %}
                </button>
            </div>
        </form>
    {% endif %}

{% endblock %}

{% block sidebar %}
    {% include "zipfelchappe/includes/back_sidebar.html" %}
{% endblock %}
