{% extends "zipfelchappe/base.html" %}
{% load i18n applicationcontent_tags %}

{% block maincontent %}
<div class="pledge-lost">
    <h2>{% trans "Pledge data is lost!" %}</h2>
    <p>
    {% blocktrans %}
        Oh no, we lost you pledge data. This should never have happend,
        sorry! A reason for this could be if we changed something on the
        server or if you deleted your cookies. Please try again, maybe it
        works this time.
    {% endblocktrans %}
    </p>

    {% app_reverse "zipfelchappe_project_list" "zipfelchappe.urls" as project_list_url %}

    <a href="{{ project_list_url }}">{% trans "Back to projects" %}</a>
</div>
{% endblock %}
