{% extends "zipfelchappe/base.html" %}
{% load i18n bootstrap %}

{% block maincontent %}
<div class="back-project-form">
    <form method="post" class="form-horizontal">
        <fieldset>
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="alert alert-error">
                <a class="close" data-dismiss="alert">&times;</a></a>
                {% for non_field_error in form.non_field_errors %}
                     {{ non_field_error }}
                {% endfor %}
            </div>
        {% endif %}

        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}

        <div class="control-group{% if form.amount.errors %} error{% endif %} required">
            <label class="control-label" for="{{ form.amount.auto_id }}">
                {{ form.amount.label|capfirst }}
            </label>

            <div class="controls">
                <div class="input-prepend input-append">
                    <span class="add-on">{{ project.currency }}</span>
                        {{ form.amount }}
                    <span class="add-on">.00</span>
                </div>

                {% for error in form.amount.errors %}
                    <span class="help-inline">{{ error }}</span>
                {% endfor %}
            </div>
        </div>

        {% if form.anonymously %}
        <div class="controls">
            <label class="checkbox">
                {{ form.anonymously }} <span>{% trans "Pledge anonymously" %}</span>
            </label>

            {% for error in form.anonymously.errors %}
                <span class="help-inline">{{ error }}</span>
            {% endfor %}

            {% if form.anonymously.help_text %}
            <p class="help-block">
                {{ form.anonymously.help_text|safe }}
            </p>
            {% endif %}
        </div>
        <br>
        {% endif %}

        {{ form.reward|bootstrap }}

        <div class="form-actions">
            <button id="back_button" type="submit" class="btn btn-large btn-success">
                {% trans "Back this Project!" %}
            </button>
        </div>
        </fieldset>
    </form>
</div>
{% endblock %}

{% block sidebar %}
    {% include "zipfelchappe/includes/project_sidebar.html" %}
{% endblock %}

{% block javascript %}
    {{ form.media.js }}
{% endblock %}
