{% extends "zipfelchappe/base.html" %}
{% load i18n feincms_tags objecttools %}

{% block maincontent %}
<div class="zipfelcontent tabs">
    <ul class="nav nav-tabs" id="project_tabs">
      {% for region in project.template.regions %}
        {% if project.content|attr:region.key %}
          <li><a href="#{{ region.key }}">{{ region.title }}</a></li>
        {% endif %}
      {% endfor %}
      <li><a href="#updates">{{ project.updates.count }} {% trans "Updates" %}</a></li>
      <li><a href="#backers">{{ project.authorized_pledges.count }} {% trans "Backers" %}</a></li>
      {% if disqus_shortname %}
        <li>
            <a href="#disqus_thread">{% trans "Comments" %}</a>

        <li>
      {% endif %}
    </ul>

    <div class="tab-content">
      {% for region in project.template.regions %}
        {% if project.content|attr:region.key %}
          <div class="tab-pane" id="{{ region.key }}">
            <h2>{{ project.title }}</h2>

            {% feincms_render_region project region.key request %}
          </div>
        {% endif %}
      {% endfor %}
      <div class="tab-pane" id="updates">
        {% for update in updates %}
            {% include "zipfelchappe/includes/updates.html" %}
        {% endfor %}
      </div>
      <div class="tab-pane" id="backers">
        <ul>
        {% for backer in project.public_backers %}
            <li>{{ backer }}</li>
        {% empty %}
            {% blocktrans %}
            Nobody backed this project yet. Be the first one!
            {% endblocktrans %}
        {% endfor %}
        </ul>
      </div>
      {% if disqus_shortname %}
        <div class="tab-pane" id="disqus_thread">
            {% include "zipfelchappe/includes/disqus_comments.html" %}
        </div>
      {% endif %}
    </div>
</div>
{% endblock %}

{% block sidebar %}
    {% include "zipfelchappe/includes/project_detail_sidebar.html" %}
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}zipfelchappe/js/tabs.js"></script>
{% endblock %}
