{% extends "zipfelchappe/base.html" %}
{% load i18n feincms_thumbnail %}

{% block document_title %}{% trans "Project list" %}{% endblock %}

{% block content %}
    <div class="project_teaser_list">
        {% for project in project_list %}
            <a class="project teaser well" href="{{ project.get_absolute_url }}">
                {% if project.teaser_image %}
                <img src="{{ project.teaser_image.path|cropscale:'150x150' }}" />
                {% endif %}

                <h3>{{ project.title }}</h3>

                <div class="status">
                    {% if project.author %}
                    <label class="author">{% trans "Author" %}:</label>
                    <span class="author">{{ project.author }}</span>
                    {% endif %}

                    <label class="goal">{% trans "Goal" %}:</label>
                    <span class="goal">{{ project.goal_display }}</span>

                    <label class="remaining">{% trans "Remaining" %}:</label>
                    <span class="remaining">{{ project.end|timeuntil }}</span>
                </div>

                <div class="progress
                    {% if project.is_financed %}
                        progress-danger
                    {% else %}
                        progress-info
                    {% endif %}">
                    <div class="bar" style="width: {{ project.percent }}%"></div>
                    <div class="info">
                        <strong>{% trans "Achieved" %}:</strong>
                        {{ project.achieved_display }}
                    </div>
                </div>

                <p>{{ project.teaser_text|truncatewords:54 }}</p>
            </a>
        {% empty %}
            {% trans "Sorry, no projects found" %}
        {% endfor %}
    </div>
{% endblock %}

{% block sidebar %}
    {% if category_list %}
        <ul class="nav nav-list">
        <li class="nav-header">
            {% trans "Categories" %}
        </li>


        <li><a href="{% url zipfelchappe_project_list %}" class="category_link all">
            {% trans "All" %}
        </a></li>

        {% for category in category_list %}
            <li><a href="{{ category.get_absolute_url }}" class="category_link">
                {{ category }}
                <span class="badge right">{{ category.project_count }}</span>
            </a></li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
