{% extends "zipfelchappe/base.html" %}
{% load i18n feincms_tags objecttools comments_conditional %}

{% block maincontent %}

<div class="project-detail">
    <ul class="nav nav-tabs" id="project_tabs">
      <li>
        <a href="#content">
          {% trans "Project" %}
        </a>
      </li>
      {% if project.update_count %}
      <li>
        <a href="#updates">
          {% trans "Updates" %}
          <span class="badge">{{ project.update_count }}</span>
        </a>
      </li>
      {% endif %}
      {% if project.authorized_pledges.count %}
      <li>
        <a href="#backers">
          {% trans "Backers" %}
          <span class="badge">{{ project.authorized_pledges.count }}</span>
        </a>
      </li>
      {% endif %}
      <li>
        {% if disqus_shortname %}
            <a href="#disqus_thread">{% trans "Comments" %}</a>
        {% else %}
            <a href="#comments">
                {% trans "Comments" %}
                {% get_comment_count for project as comment_count %}
                <span class="badge">{{ comment_count }}</span>
            </a>
        {% endif %}
      <li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane" id="content">
        <h2>{{ project.title }}</h2>
        {% if thank_you %}
          {% feincms_render_region project.translated "thankyou" request %}
        {% else %}
          {% feincms_render_region project.translated "main" request %}
        {% endif %}
      </div>
      {% if project.update_count %}
      <div class="tab-pane" id="updates">
        {% for update in updates %}
            {% include "zipfelchappe/includes/updates.html" %}
        {% endfor %}
      </div>
      {% endif %}
      {% if project.authorized_pledges.count %}
      <div class="tab-pane" id="backers">
        {% include "zipfelchappe/includes/backer_list.html" %}
      </div>
      {% endif %}
      {% if disqus_shortname %}
        <div class="tab-pane" id="disqus_thread">
            {% include "zipfelchappe/includes/disqus_comments.html" %}
        </div>
      {% else %}
        <div class="tab-pane" id="comments">
            {% include "zipfelchappe/includes/django_comments.html" %}
        </div>
      {% endif %}
    </div>
</div>
{% endblock %}

{% block sidebar %}
    {% include "zipfelchappe/includes/project_detail_sidebar.html" %}
{% endblock %}

{% block og-title %}{{ project }}{% endblock %}
{% block og-description %}{{ project.teaser_text }}{% endblock %}
{% block og-image %}http://{{ request.get_host }}{{ project.teaser_image.url }}{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}zipfelchappe/js/tabs.js"></script>
{% endblock %}
