{% extends "zipfelchappe/base.html" %}
{% load i18n applicationcontent_tags %}

{% block document_title %}{% trans "Project list" %}{% endblock %}

{% block maincontent %}
<div class="project-list">
    <div class="project_teaser_list">
        {% for project in project_list %}
            {% include "zipfelchappe/project_teaser.html"  %}
        {% empty %}
            {% trans "Sorry, no projects found" %}
        {% endfor %}
    </div>
</div>

<div class="pagination pagination-large pagination-centered">
    <ul>
        {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% endif %}
        {% for p in paginator.page_range %}
            <li {% if p == page_obj.number %}class="disabled"{% endif %}><a href="?page={{ p }}">{{ p }}</a></li>
        {% endfor %}
        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}

{% block sidebar %}
    {% if category_list %}
        <ul class="nav nav-list">
            <li class="nav-header">
                {% trans "Categories" %}
            </li>

            {% app_reverse "zipfelchappe_project_list" "zipfelchappe.urls" as list_url %}

            <li><a href="{{ list_url }}" class="category_link all">
                {% trans "All" %}
            </a></li>

            {% for category in category_list %}
                <li><a href="{{ category.get_absolute_url }}" class="category_link">
                    {{ category }}
                    <span class="badge right">{{ category.project_count }}</span>
                </a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
